:root {
  font-size: 62.5%;

  --primary-h: 167;
  --primary-s: 87%;
  --primary-l: 85%;

  --secondary-h: 141;
  --secondary-s: 89%;
  --secondary-l: 71%;

  --primary: hsl(var(--primary-h), var(--primary-s), var(--primary-l));
  --on-primary: #000;
  --secondary: hsl(var(--primary-h), var(--primary-s), var(--primary-l));
  --secondary-darker: hsl(var(--primary-h), var(--primary-s), 40%);
  --on-secondary: #000;
  --shadow: #a8cccec7;

  --glass-background: #f8f8f857;
  --white-transparent: #ffffffb2;

  --start-gradient: var(--secondary);
  --end-gradient: #71f3f7;

  --typo: "Inter", sans-serif;
}
