:root {
  font-size: 62.5%;

  --primary: #dae2ea;
  --on-primary: #000;
  --secondary: #71f79f;
  --on-secondary: #000;
  --shadow: #a8cccec7;

  --glass-background: #f8f8f857;
  --white-transparent: #ffffffb2;

  --start-gradient: var(--secondary);
  --end-gradient: #71f3f7;
}
